@import "tailwindcss";

@theme {
  --color-start: #39289f;
  --color-end: #422f9c;
}

@media (prefers-color-scheme: dark) {
}
body {
  min-height: 100vh;
  background: linear-gradient(to bottom, var(--color-start), var(--color-end));
}
