@import "tailwindcss";

@theme {
  --color-start: #3C2A9E;
  --color-end: #3B2A9F;
}

@media (prefers-color-scheme: dark) {
}
body {
  min-height: 100vh;
  background: linear-gradient(to bottom, var(--color-start), var(--color-end));
}
