@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@theme {
  --color-start: #3c2a9e;
  --color-end: #3b2a9f;
}

.dark {
  --color-start: #000000;
  --color-end: #291908;
 
}

body {
  min-height: 100vh;
  background: linear-gradient(to bottom, var(--color-start), var(--color-end));
}
.swiper-button-next,
.swiper-button-prev {
  @apply !hidden; 
}
